@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 微软雅黑;
}
a{
  display: block;
  text-decoration: none;
  color: #000;
}
.header {
  width: 100%;
  height: 0.72rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #393a3f;
}

.header h1 {
  width: 0.55rem;
  padding: 0 0.22rem;
  line-height: 0.72rem;
  font-size: 0.26rem;
  font-weight: 400;
  color: #fff;
}

.header .more, .header .search {
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  top: 0.21rem;
}

.header .more {
  right: 0.38rem;
  background: url("../images/Screenshot_2016-07-27-13-56-23_05.png") no-repeat;
  background-size: 100%;
}

.header .search {
  right: 1.28rem;
  background: url("../images/Screenshot_2016-07-27-13-56-23_03.png") no-repeat;
  background-size: 100%;
}

.content {
  width: 100%;
  overflow-y: auto;
  padding-top: 0.72rem;
  padding-bottom: 0.82rem;
  background: #ebebeb;
}

.content .user {
  height: 1.2rem;
  margin: 0.3rem 0;
  background: white;
  position: relative;
}

.content .user .userphoto {
  width: 0.96rem;
  height: 0.96rem;
  position: absolute;
  left: 0.22rem;
  top: 0.12rem;
  background: url("../images/Screenshot_2016-07-27-13-56-23_04.png") no-repeat;
  background-size: 100%;
}

.content .user .username {
  width: 0.72rem;
  line-height: 1.2rem;
  position: absolute;
  left: 1.4rem;
  color: #353535;
  font-size: 0.23rem;
  font-weight: bold;
}

.content .user .erweima {
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  right: 0.38rem;
  top: 0.46rem;
  background: url("../images/Screenshot_2016-07-27-13-56-23_09.png") no-repeat;
  background-size: 100%;
}

.content .wrap {
  width: 100%;
  height: auto;
  margin: 0.3rem 0;
  background: white;
}

.content .wrap li {
  height: 0.72rem;
  margin: 0 0.22rem;
  font-size: 0.23rem;
  line-height: 0.72rem;
}

.content .wrap li .xiangce {
  width: 0.38rem;
  height: 0.28rem;
  padding: 0.22rem 0.06rem;
  float: left;
}

.content .wrap li .xiangce .tp {
  width: 0.38rem;
  height: 0.3rem;
  background: url("../images/Screenshot_2016-07-27-13-56-23_12.png") no-repeat;
  background-size: 100%;
}

.content .wrap li .shoucang {
  width: 0.38rem;
  height: 0.28rem;
  padding: 0.18rem 0.06rem;
  float: left;
}

.content .wrap li .shoucang .tp {
  width: 0.38rem;
  height: 0.36rem;
  background: url("../images/Screenshot_2016-07-27-13-56-23_15.png") no-repeat;
  background-size: 100%;
}

.content .wrap li .qianbao {
  width: 0.38rem;
  height: 0.28rem;
  padding: 0.22rem 0.06rem;
  float: left;
}

.content .wrap li .qianbao .tp {
  width: 0.38rem;
  height: 0.28rem;
  background: url("../images/Screenshot_2016-07-27-13-56-23_17.png") no-repeat;
  background-size: 100%;
}

.content .wrap li .kabao {
  width: 0.38rem;
  height: 0.28rem;
  padding: 0.2rem 0.06rem;
  float: left;
}

.content .wrap li .kabao .tp {
  width: 0.38rem;
  height: 0.32rem;
  background: url("../images/Screenshot_2016-07-27-13-56-23_19.png") no-repeat;
  background-size: 100%;
}

.content .wrap li .biaoqing {
  width: 0.38rem;
  height: 0.28rem;
  padding: 0.18rem 0.06rem;
  float: left;
}

.content .wrap li .biaoqing .tp {
  width: 0.38rem;
  height: 0.36rem;
  background: url("../images/Screenshot_2016-07-27-13-56-23_21.png") no-repeat;
  background-size: 100%;
}

.content .wrap li .setting {
  width: 0.38rem;
  height: 0.28rem;
  padding: 0.18rem 0.06rem;
  float: left;
}

.content .wrap li .setting .tp {
  width: 0.38rem;
  height: 0.38rem;
  background: url("../images/Screenshot_2016-07-27-23-46-51_03.png") no-repeat;
  background-size: 100%;
}

.content .wrap li span {
  padding-left: 0.22rem;
}

.content .wrap .line {
  border-bottom: 1px solid #d9d9d9;
}

.Navbar {
  width: 100%;
  height: 0.82rem;
  background: #fcfcfc;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #d6d6d6;
}

.Navbar ul {
  width: 4rem;
  height: 0.62rem;
  margin: 0.1rem 0.4rem;
  text-align: justify;
}

.Navbar ul::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.Navbar ul li {
  display: inline-block;
  position: relative;
  width: 0.6rem;
  height: 0.62rem;
  vertical-align: top;
  font-size: 0.18rem;
  color: #999999;
}

.Navbar ul li span {
  width: 0.6rem;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.Navbar ul li div {
  width: 0.4rem;
  height: 0.62rem;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.Navbar ul li .wechat {
  background: url("../images/Screenshot_2016-07-27-13-56-23_05_07.png") no-repeat;
  background-size: 100%;
}

.Navbar ul li .tongxunlu {
  background: url("../images/Screenshot_2016-07-27-13-56-23_24.png") no-repeat;
  background-size: 100%;
}

.Navbar ul li .find {
  background: url("../images/Screenshot_2016-07-27-23-46-51_06_03.png") no-repeat;
  background-size: 100%;
}

.Navbar ul li .me {
  background: url("../images/Screenshot_2016-07-27-13-56-23_29.png") no-repeat;
  background-size: 100%;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 166.66667px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 160px;
  }
}

@media screen and (max-width: 414px) {
  html {
    font-size: 86.25px;
  }
}

@media screen and (max-width: 412px) {
  html {
    font-size: 85.83333px;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 78.125px;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 75px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 66.66667px;
  }
}

/*
@media screen and (max-width: 375px) {
  .header{
     height: 46.875px;
   }
}
@media screen and (max-width: 320px) {
  .header{
    height: 40px;
  }
}*/
